.Content {
    display: grid;
    grid-row-gap: 1rem;
    max-height: calc(100vh - 14rem);
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.Top {
    display: grid;
    grid-column-gap: 2rem;

    .Chart {
        grid-column: 1 / 2;
        height: 40rem;
        background-color: var(--color-white-background);
        padding: 2rem;
        border: 1px solid var(--color-dashboard-border);
        border-radius: 6px;
        margin-bottom: 2rem;
    }

    .Reports {
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-template-rows: 20rem 20rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        .Report {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 4rem;
            background-color: var(--color-white-background);
            border: 1px solid var(--color-dashboard-border);
            border-radius: 6px;

            &_Title {
                font-family: var(--font-montserrat);
                font-size: 3rem;
                font-weight: 300;
                text-transform: uppercase;
                width: 20rem;

                background: linear-gradient(270deg, var(--color-black-text), var(--color-main));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &_Number {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10rem;
                height: 10rem;
                font-family: var(--font-freehouse);
                font-size: 2rem;
                background: linear-gradient(270deg, var(--color-black-text), var(--color-main)) border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                word-break: break-word;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 50%;
                    padding: 7px;
                    background: linear-gradient(to bottom, var(--color-black-text), var(--color-main));
                    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }
            }

            &:nth-child(3) {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }
        }
    }
}


.Bottom {
    width: 100%;
    padding: 2rem 4rem;
    background-color: var(--color-white-background);
    border: 1px solid var(--color-dashboard-border);
    border-radius: 6px;

    h2{
        display: inline-block;
        font-family: var(--font-montserrat);
        font-size: 2rem;
        background: linear-gradient(270deg, var(--color-black-text), var(--color-main)) border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2rem;
    }

    .Cards_Container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        width: calc(100vw - 48rem);
        overflow-y: hidden;
        overflow-x: auto;
        /* Set the width and color of the scrollbar */
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #f5f5f5;
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--color-main);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track {
            background-color: #f5f5f5;
            border-radius: 10px;
        }

        /* Set the width and color of the scrollbar for Firefox */
        * {
            scrollbar-width: thin;
            scrollbar-color: var(--color-main) #f5f5f5;
        }

        *::-webkit-scrollbar-thumb {
            background-color: var(--color-main);
            border-radius: 10px;
        }

        *::-webkit-scrollbar-track {
            background-color: #f5f5f5;
            border-radius: 10px;
        }
    }
}


:global(.ARABIC){
    .Content {
        display: grid;
        grid-row-gap: 1rem;
        max-height: calc(100vh - 14rem);
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .Top {
        display: grid;
        grid-column-gap: 2rem;

        .Chart {
            grid-column: 1 / 2;
            height: 40rem;
            background-color: var(--color-white-background);
            padding: 2rem;
            border: 1px solid var(--color-dashboard-border);
            border-radius: 6px;
            margin-bottom: 2rem;
        }

        .Reports {
            grid-column: 1 / 2;
            display: grid;
            grid-template-columns: 49.5% 49.5%;
            grid-template-rows: 20rem 20rem;
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;

            .Report {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 4rem;
                background-color: var(--color-white-background);
                border: 1px solid var(--color-dashboard-border);
                border-radius: 6px;

                &_Title {
                    font-family: var(--font-cairo);
                    font-size: 3rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    width: 13rem;

                    background: linear-gradient(-270deg, var(--color-black-text), var(--color-main));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &_Number {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10rem;
                    height: 10rem;
                    font-family: var(--font-freehouse);
                    font-size: 2rem;
                    background: linear-gradient(-270deg, var(--color-black-text), var(--color-main)) border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    word-break: break-word;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 50%;
                        padding: 7px;
                        background: linear-gradient(to bottom, var(--color-black-text), var(--color-main));
                        -webkit-mask: linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                    }
                }

                &:nth-child(3) {
                    grid-column: 1 / 3;
                    grid-row: 2 / 3;
                }
            }
        }
    }


    .Bottom {
        width: 100%;
        padding: 2rem 4rem;
        background-color: var(--color-white-background);
        border: 1px solid var(--color-dashboard-border);
        border-radius: 6px;

        h2{
            display: inline-block;
            font-family: var(--font-cairo);
            font-size: 2rem;
            background: linear-gradient(-270deg, var(--color-black-text), var(--color-main)) border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2rem;
        }

        .Cards_Container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            width: calc(100vw - 48rem);
            overflow-y: hidden;
            overflow-x: auto;
            /* Set the width and color of the scrollbar */
            ::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background-color: #f5f5f5;
            }

            ::-webkit-scrollbar-thumb {
                background-color: var(--color-main);
                border-radius: 10px;
            }

            ::-webkit-scrollbar-track {
                background-color: #f5f5f5;
                border-radius: 10px;
            }

            /* Set the width and color of the scrollbar for Firefox */
            * {
                scrollbar-width: thin;
                scrollbar-color: var(--color-main) #f5f5f5;
            }

            *::-webkit-scrollbar-thumb {
                background-color: var(--color-main);
                border-radius: 10px;
            }

            *::-webkit-scrollbar-track {
                background-color: #f5f5f5;
                border-radius: 10px;
            }
        }
    }
}


// SELECTED DAY DASHBOARD

.Middle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    .NewSubscribers,
    .NewOrders{
        width: 100%;
        padding: 5rem 4rem;
        background-color: var(--color-white-background);
        border: 1px solid var(--color-dashboard-border);
        border-radius: 6px;
    }

    h2{
        display: inline-block;
        font-family: var(--font-cairo);
        font-size: 2rem;
        background: linear-gradient(-270deg, var(--color-black-text), var(--color-main)) border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2rem;
    }

    table {
        display: block;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        min-width: 60rem;
    }

    .table {
        border-collapse: collapse;
        width: 100%;

        thead {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #FCF5FF;
            width: 100%;

            tr {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                gap: 1rem;
            }

            th {
                padding: 1rem;
                font-weight: normal;
                text-align: left;

                &:nth-child(1) {
                    width: 20%;
                }

                &:nth-child(2) {
                    width: 20%;
                }

                &:nth-child(3) {
                    width: 20%;
                }

                &:nth-child(4) {
                    width: 20%;
                }

                &:nth-child(5) {
                    width: 20%;
                }
            }
        }

        tbody {
            display: block;
            height: unset;
            max-height: unset;
            overflow: auto;

            tr {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                width: 100%;
            }

            td {
                font-size: 1.5rem;
                padding: 1rem;
                color: var(--color-gray-777);

                .UserImage {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                &:nth-child(1) {
                    width: 20%;
                }

                &:nth-child(2) {
                    width: 20%;
                }

                &:nth-child(3) {
                    width: 20%;
                }

                &:nth-child(4) {
                    width: 20%;
                }

                &:nth-child(5) {
                    width: 20%;
                }
            }
        }

        .Actions {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
            width: 14rem;
        }

        .Delete {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            padding: .5rem 1rem;
            color: var(--color-inactive);
            background-color: var(--color-white-background);
            border: 1px solid var(--color-inactive);
            border-radius: .5rem;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            &:active {
                transform: scale(0.95);
            }
        }

    }

    .row:nth-child(even) {
        background-color: #FCFAFC;
        width: 100%;
    }

    .row:nth-child(odd) {
        background-color: var(--color-white-background);
    }
}

:global(.ARABIC){
    .Middle {

        h2{
            display: inline-block;
            font-family: var(--font-cairo);
            font-size: 2rem;
            background: linear-gradient(270deg, var(--color-black-text), var(--color-main)) border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2rem;
        }

        .table {

            thead {

                th {
                    text-align: right;
                }
            }
        }
    }
}