.Container {
  max-width: 1920px;
  margin: auto;
  min-height: 100vh;
}

.Main {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;

  @media screen and (max-width: 649px) {
    flex-direction: column-reverse;
  }

  .Left {
    position: relative;
    padding: 7rem;
    width: 40%;
    background-color: transparent;
    z-index: 5;
    flex: 1 1 auto;
    background-image: url("/images/Auth/fruits.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    @media screen and (max-width: 1100px) and (min-width: 650px) {
      width: 15%;
    }


    @media screen and (max-width: 649px) {
      width: 100%;
      height: 80%;
      min-height: 35rem;
    }

    p {
      position: absolute;
      bottom: 2rem;
      left: 3rem;
      font-size: 4rem;
      color: var(--color-white-text);
      font-family: var(--font-freehouse);
      z-index: 7;

      @media screen and (max-width: 1100px) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, #A7152380, #00000090);
      z-index: 6;

      @media screen and (max-width: 649px) {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }


    .Buttons {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      z-index: 8;

      @media screen and (max-width: 649px) {
        top: 1rem;
        right: 1rem;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: #ffffff;
        border: 0;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:active {
          transform: scale(0.95);
          box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.16);
        }

        @media screen and (max-width: 649px) {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }

  .Right {
    position: relative;
    padding: 7rem;
    width: 50%;
    background-color: var(--color-white-background);
    flex: 1 1 auto;

    @media screen and (max-width: 1100px) and (min-width: 650px) {
      width: 85%;
    }

    @media screen and (max-width: 649px) {
      width: 100%;
      height: 50%;
      //clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
      //max-height: 60rem;
      padding: 5rem 4rem;
      position: relative;
      z-index: 20;
    }

    .Logo {
      position: relative;

      img{
        position: relative;
        z-index: 10;
      }

      &::after {
        content: '';
        position: absolute;
        top: 25px;
        left: 50px;
        width: 6rem;
        height: 6rem;
        transform: translate(-3rem, -3rem);
        border-radius: 50%;
        background-color: rgba(167, 21, 35, 0.20);
        z-index: 1;
      }
    }
  }
}


// FORM
.Form {
  width: 100%;
  max-width: 50rem;
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;


  .Heading_2 {
    display: inline-block;
    font-family: var(--font-montserrat);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
    background: linear-gradient(270deg, #A71523, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Input_Container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .InputBorderContainer {
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to left, #000000, #A71523);
    }
  }

  .Input_Group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    input {
      font-family: var(--font-roboto);
      font-size: 1.4rem;
      padding: 1.2rem 2rem;
      width: 100%;
      border: 0;
      caret-color: var(--color-gray-333);
      color: var(--color-gray-333);
      background-color: #FAFAFA;

      &::placeholder {
        color: #AAAAAA;
      }
    }
  }

  .Links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    margin-right: auto;
    margin-top: 2rem;

    @media screen and (max-width: 430px) {
      margin-right: auto;
    }
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;

    @media screen and (max-width: 430px) {
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: 2rem;
    }

    a {
      text-decoration: none;
      color: var(--color-black-text);
    }

    .Buttons_Container {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }

    .Create_button {
      height: 5rem;
      padding: 1rem .5rem 1rem 2rem;
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      background-color: var(--color-white-background);
      border: 1px solid var(--color-input-border);
      cursor: pointer;

      span {
        display: inline-block;
        font-family: var(--font-montserrat);
        font-size: 1.6rem;
        font-weight: 500;
        background: linear-gradient(270deg, #A71523, #000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }


      &:active {
        box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.16);
        transform: scale(.95);
      }

      &.Un_Active {
        display: none;
      }
    }

    .Google_button {
      padding: 1rem;
      width: 5rem;
      height: 5rem;
      background-color: var(--color-white-background);
      border: 1px solid var(--color-input-border);
      transition: trabnsform .2s ease-in-out;
      cursor: pointer;

      &:active {
        box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.16);
        transform: scale(.95);
      }
    }
  }
}

:global(.ARABIC) {
  .Container {
    max-width: 1920px;
    margin: auto;
    min-height: 100vh;
  }

  .Main {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;

    @media screen and (max-width: 649px) {
      flex-direction: column-reverse;
    }

    .Left {
      position: relative;
      padding: 7rem;
      width: 40%;
      background-color: transparent;
      z-index: 5;
      flex: 1 1 auto;
      background-image: url("/images/Auth/fruits.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


      @media screen and (max-width: 1100px) and (min-width: 650px) {
        width: 15%;
      }


      @media screen and (max-width: 649px) {
        width: 100%;
        height: 80%;
        min-height: 35rem;
      }

      p {
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        font-size: 4rem;
        color: var(--color-white-text);
        font-family: var(--font-freehouse);
        z-index: 7;

        @media screen and (max-width: 1100px) {
          display: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-180deg, #A7152380, #00000090);
        z-index: 6;

        @media screen and (max-width: 649px) {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }


      .Buttons {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 8;

        @media screen and (max-width: 649px) {
          top: 1rem;
          left: 1rem;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          background-color: #ffffff;
          border: 0;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:active {
            transform: scale(0.95);
            box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.16);
          }

          @media screen and (max-width: 649px) {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }

    .Right {
      position: relative;
      padding: 7rem;
      width: 50%;
      background-color: var(--color-white-background);
      flex: 1 1 auto;

      @media screen and (max-width: 1100px) and (min-width: 650px) {
        width: 85%;
      }

      @media screen and (max-width: 649px) {
        width: 100%;
        height: 50%;
        //clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
        //max-height: 60rem;
        padding: 5rem 4rem;
        position: relative;
        z-index: 20;
      }

      .Logo {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 25px;
          right: 50px;
          width: 6rem;
          height: 6rem;
          transform: translate(3rem, -3rem);
          border-radius: 50%;
          background-color: rgba(167, 21, 35, 0.20);
        }
      }
    }
  }


  // FORM
  .Form {
    width: 100%;
    max-width: 50rem;
    margin-top: 15rem;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;


    .Heading_2 {
      display: inline-block;
      font-family: var(--font-cairo);
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 3rem;
      background: linear-gradient(-270deg, #A71523, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .Input_Container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .InputBorderContainer {
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to right, #000000, #A71523);
      }
    }

    .Input_Group {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      input {
        font-family: var(--font-roboto);
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
        width: 100%;
        border: 0;
        caret-color: var(--color-gray-333);
        color: var(--color-gray-333);
        background-color: #FAFAFA;

        &::placeholder {
          color: #AAAAAA;
        }
      }
    }

    .Links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: .5rem;
      margin-left: auto;
      margin-right: initial;
      margin-top: 2rem;

      @media screen and (max-width: 430px) {
        margin-left: auto;
      }
    }

    &_buttons {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      align-items: center;

      @media screen and (max-width: 430px) {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 2rem;
      }

      a {
        text-decoration: none;
        color: var(--color-black-text);
      }

      .Buttons_Container {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
      }

      .Create_button {
        height: 5rem;
        padding: 1rem 2rem 1rem .5rem;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        background-color: var(--color-white-background);
        border: 1px solid var(--color-input-border);
        cursor: pointer;

        span {
          display: inline-block;
          font-family: var(--font-almarai);
          font-size: 1.5rem;
          font-weight: 500;
          background: linear-gradient(-270deg, #A71523, #000000);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }


        &:active {
          box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.16);
          transform: scale(.95);
        }

        &.Un_Active {
          display: none;
        }
      }

      .Google_button {
        padding: 1rem;
        width: 5rem;
        height: 5rem;
        background-color: var(--color-white-background);
        border: 1px solid var(--color-input-border);
        transition: trabnsform .2s ease-in-out;
        cursor: pointer;

        &:active {
          box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.16);
          transform: scale(.95);
        }
      }
    }
  }
}