// ALMARAI
@font-face {
  font-family: 'almarai';
  font-style: normal;
  font-weight: 300;
  src: local('almarai Light'), local('almarai-Light'),
  url('../fonts/almarai/Almarai-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'almarai';
  font-style: normal;
  font-weight: 400;
  src: local('almarai Normal'), local('almarai-Normal'),
  url('../fonts/almarai/Almarai-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'almarai';
  font-style: normal;
  font-weight: 700;
  src: local('almarai Bold'), local('almarai-Bold'),
  url('../fonts/almarai/Almarai-Bold.ttf') format('truetype');
  font-display: swap;
}

//Cairo
@font-face {
  font-family: 'cairo';
  font-style: normal;
  font-weight: 300;
  src: local('cairo Light'), local('cairo-Light'),
  url('../fonts/cairo/Cairo-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'cairo';
  font-style: normal;
  font-weight: 400;
  src: local('cairo Normal'), local('cairo-Normal'),
  url('../fonts/cairo/Cairo-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'cairo';
  font-style: normal;
  font-weight: 700;
  src: local('cairo Bold'), local('cairo-Bold'),
  url('../fonts/cairo/Cairo-Bold.ttf') format('truetype');
  font-display: swap;
}

//Montserrat
@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('montserrat Light'), local('montserrat-Light'),
  url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('montserrat Normal'), local('montserrat-Normal'),
  url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('montserrat Medium'), local('montserrat-Medium'),
  url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
}

//Roboto
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 300;
  src: local('roboto Light'), local('roboto-Light'),
  url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  src: local('roboto Normal'), local('roboto-Normal'),
  url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 500;
  src: local('roboto Medium'), local('roboto-Medium'),
  url('../fonts/roboto/Roboto-Medium.ttf') format('ttf');
  font-display: swap;
}

//Freehouse
@font-face {
  font-family: 'freehouse';
  font-style: normal;
  font-weight: 700;
  src: local('freehouse Bold'), local('freehouse-Bold'),
  url('../fonts/freehouse/freehouse-wide.otf') format('truetype');
  font-display: swap;
}
